<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="James Phillips. Freelance Lighting Engineer">
        <meta name="author" content="James Phillips">
        <link rel="icon" href="favicon.ico">

        <title>{% if title is defined %}{{ title }} &bull; {% endif %}James Phillips</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/site.css" rel="stylesheet">
        {% if title == 'Previous Work' %}
            <link href="css/ekko-lightbox.min.css" rel="stylesheet">
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="./" style=" margin-top: 4px;"><img src="img/logo.png" style="height: 40px;"> <strong style="padding-left: 0.8em;">James Phillips</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if title == 'Home' %}active{% endif %}">
                        <a class="nav-link" href="./">Home</a>
                    </li>
                    <li class="nav-item {% if title == 'About' %}active{% endif %}">
                        <a class="nav-link" href="./about">About</a>
                    </li>
                    <li class="nav-item {% if title == 'Previous Work' %}active{% endif %}">
                        <a class="nav-link" href="./previouswork">Previous Work</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        {% if title == 'Home' %}
            {% include 'carousel.html.twig' %}
        {% endif %}
        
        {% if message is defined %}
            <div class="container">
                <div class="alert {% if messageClass is defined %}alert-{{ messageClass }}{% endif %}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endif %}
        
        {% block body %}{% endblock %}

        <div class="container">
            <hr>
            <footer>
                <p class="float-left">
                    &copy; {{ "now"|date("Y") }} James Phillips.
                </p>
            </footer>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        {% if title == 'Previous Work' %}
        <script src="js/ekko-lightbox.min.js"></script>
        <script>
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });    
        </script>
        {% endif %}
    </body>
</html>