{% extends 'base.html.twig' %}

{% set title = "Home" %}

{% block body %}
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7">
            <p class="lead">I am a freelance Lighting Designer and Engineer based in Manchester UK with a wide range of experience across a variety of events that has led to me being able to provide the following services:</p>
            <ul>
                <li>Lighting Design</li>
                <li>Lighting Engineer</li>
                <li>Lighting Programmer/Operation (Primarily with Chamsys MagicQ Consoles)</li>
                <li>Pre-Production Drawings/CAD (with own WYSIWYG Report Licence)</li>
                <li>LED/Video Engineer</li>
            </ul>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="http://via.placeholder.com/500" alt="Placeholder">
        </div>
    </div>
</div>
{% endblock %}