{% extends 'base.html.twig' %}

{% set title = "Home" %}

{% block body %}
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7" style="margin-top: 2em;">
            <p class="lead">I am a freelance Lighting Engineer and Designer based in Manchester UK with a wide range of experience across a variety of events that has led to me being able to provide the following services:</p>
            <ul>
                <li>Lighting Engineer</li>
                <li>Lighting Design</li>
                <li>Lighting Programmer/Operation (Primarily with Chamsys MagicQ Consoles)</li>
                <li>Pre-Production Drawings, CAD and Site Plans (with own WYSIWYG Report Licence)</li>
                <li>LED/Video Engineer</li>
            </ul>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/home/1.jpg" alt="Desk" style="width: 300px; height: 300px;">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Contact Me</h2>
            <p class="lead">If you'd like to contact me please use the details below:</p>
            <p>
                <b>Phone:</b> 07429 353 608<br>
                <b>Email: </b> <a href="mailto:james@jp2.me.uk">james@jp2.me.uk</a>
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/home/2.jpg" alt="Marquee" style="width: 300px; height: 300px;">
        </div>
    </div>
    
</div>
{% endblock %}