{% extends 'base.html.twig' %}

{% set title = "Home" %}

{% block body %}
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Freelance Lighting Engineer based in Manchester, UK</h2>
            <p class="lead">Lorem Ipsum</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/home/1.jpg" alt="Desks">
        </div>
    </div>
</div>
{% endblock %}